* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #FF9F00;
    line-height: 1.6;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

body.loaded {
    opacity: 1;
}

header {
    background-color: #DFD0B8;
    color: #00b478;
    padding: 1rem;
    border-radius: px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensures it stays above other elements */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
header:hover{
    transform: translateY(-10px);
    background-color: #ee944f4c;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #ac6029ad;
    text-decoration: none;
    font-size: 1.1rem;
}

main {
    padding: 2rem;
}

.specialties {
    text-align: center;
}

.specialties h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #ffffff;
}
    
.specialty-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));        
    gap: 2rem;
    margin-top: 2rem;
}

.card {
    background-color: #948979;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
    
}

.card:hover {
    transform: translateY(-10px);
    background-color: #ee944f88;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    
}

.card h2 {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 1rem;
}

.card p {
    font-size: 1rem;
    color: #3d3b3b;
    margin-bottom: 1.5rem;
}

.card a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 1.1rem;
}
